#list{
  width: 100%;
  margin-top: 50px;
}
body{
  background: #fff;
}
#list .wrap{
  width: 1200px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}
#list .wrap .item{
  margin-bottom: 30px;
  margin-left: 30px;
  width: 330px;
  height: 1055px;
  /* background: #000; */
  border: 1px solid #ccc;
}
#list .wrap .item.a{
  margin-left: 30px;
  width: 330px;
  height: 1055px;
  /* background: #000; */
  border:none;
  overflow: hidden;
}
#list .wrap .item.a img.img {
  height: 600px;
  transform: translate(-95px,0)
}
#list .wrap .item .img_wrap {
  width: 100%;
  height: 330px;
  background: #CCC;
  position: relative;
}
#list .wrap .item .img_wrap .k8{
  position: absolute;
  width: 30px;
  top: 5px;
  left: 5px;
}
#list .wrap .item .img_wrap span {
  position: absolute;
  /* width: 150px; */
  top: 0px;
  background: rgb(34, 192, 131);
  color:#fff;
  font-size: 8px;
  padding: 8px 20px;
  display: inline-block;
  right:0px;
}
#list .item .tv_name{
  font-size: 14px;
  padding: 10px;
  line-height: 20px;
  color: rgba(15, 15, 15, 0.76);
  font-weight: bold;
}
#list .item .tv_px {
  font-size: 8px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.479)
}
#list .item .svg_wrap{
  height: 50px;
  padding: 10px;
  font-size: 8px;
}
#list .item svg{
  width: 15px;
  height: 15px;
  color: #dc3a1a;
}
#list .item .item_wrap{
margin-left: 30px;
}

#list .item .item_wrap ul li{
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px 0;
  color: rgb(116, 116, 116);
  list-style-type: square !important;
}
#list .item  .select{
  width: 100%;
  margin-left: 15px;
  width: 15px;
  height: 15px;
  background: #eee;
  position: relative;
  border: 1px solid rgb(71, 71, 71);
}

#list .item .select_wrap{
  width: 100%;
  padding: 10px 0;
  position: relative;
} 
#list .item .select_wrap::after {
  content: "Select to compare";
  display: inline-block;
  position: absolute;
  top: 10px;
  font-size: 13px;
  line-height: 20px;
  left: 40px;
  color: rgb(47, 53, 61);
}
#list .item .select_wrap:hover ::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left:50%;
  width: 10px;
  height: 10px;

  background: #000;
  color: rgb(47, 53, 61);
}
#list .item .item_bottom {
  padding: 0 10px;
}
#list .item .item_bottom .name {
  font-size: 12px;
  color: rgba(7, 7, 7, 0.507);
}
#list .item .item_bottom ul{
  padding-right:20px;
  box-sizing: border-box;
  padding-bottom: 100px;
}
#list .item .item_bottom ul li{
  background: #f1f5f9;
  height: 30px;
  padding:5px 10px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.507);
  box-sizing: border-box;
  font-size: 12px;
  margin: 5px 0;
}
#list .item .item_bottom ul li.active{
  background: #2f353d;
  color: #fff;
  
}
#list .item .item_bottom .price{
  text-align: right;
  padding: 0 15px;
  font-size: 22px;  
  padding-bottom: 50px;
}
#list .item .item_bottom .link {
  text-align: center;
  font-size: 14px;
  color: rgb(88, 101, 245);
  padding: 20px 0;
}
#list .item .item_bottom button {
  width: 100%;
  height: 40px;
  border: none;
  background: rgb(211, 56, 24);
  color: #fff;
  font-size: 14px;
}